:local {
  .control {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 25px;
    flex-wrap: nowrap;
    min-width: 70px;

    & p {
      font-size: 12px;
    }

    & > img {
      width: 12px;
      height: 12px;
      margin-right: 3px;
    }
  }
}
