@use 'src/styles/colors' as c;

@import 'src/styles/commonStyles';

:local {
  .navMenuContainer {
    width: 100%;
    background-color: c.$primary;
    height: 40px;
    display: grid;
    place-items: center;
    position: sticky;
    position: -webkit-sticky;
    z-index: 999999999;
    top: 0;

    & .navMenu {
      @include flexCenterSpace;

      width: 100%;
      max-width: 520px;
      padding: 0 15px;

      & img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }

      & img:last-child {
        background-color: white;
        border-radius: 50%;
        padding: 2px;
      }
    }
  }
}
